header{
    background: darkblue; color:goldenrod;
    padding: 15px 20px;margin: 0px;
}
.head{ display:flex;  align-items: center; padding: 10px; height:30px; gap: 100px;}
.navlink{text-align: right; float:right; flex: 1;}
.navlink ul li{list-style: none;display: inline-block;margin: 0 30px;}
a{color: aliceblue;}
.nta {  position: relative;
  width: 100%;  height: 300px;   overflow: hidden;}

.nta img {width: 100%;height: 100%; object-fit: cover; opacity: 50%; }

.overlay {position: absolute;
  top: 50%;left: 50px;transform: translateY(-50%);color: white;
}
.final{
  display: flex; /*puts the children divs in a row*/
  gap: 30px; /* space between them */
}

.mess {
 /* makes them equal width */ text-align: justify; border-radius: 10%;
  padding: 20px; background-color: whitesmoke;
}
 
.overlay h1 {font-size: 50px;margin: 0;}
.overlay p {font-size: 30px;color: #ffd700; }

#sch{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;flex-direction: right; margin: 0;}
hr{height: 5px;border:none; background: yellow; border-style: groove;}
#slogan{
    font-style: italic;
    font-size: 15px;
    color: aliceblue;
    margin: 0;
    
}
footer{
    background-color:dark blue;}
table{
    width: 50%;
    border-radius: 50%; border-collapse: collapse;
    border-style: groove;
}
.icon{
    align-items: right; display: flex;}

button{
    color:whitesmoke;background:rgb(2, 19, 2); text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tel{
    display: flex;
    gap:200px;
    align-items:center;
    justify-content:center;
    padding:20px;
    font-weight:500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mes{
    width:380px;
    display:flex;
    flex-direction:column;
}
.mess input{
padding:10px;
height:20px;
width:100px;

}
.mess textarea{
resize:none;
width:200px;
}
